@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #0D1117
}
.excalidraw {
  border-radius: 10px;
  border: black solid 2px;
  background-color: #0D1117!important;  /* Change the entire background */
  color: #0D1117 !important;            /* Change text color */
}

.excalidraw .App-toolbar, 
.excalidraw .App-menu_top, 
.excalidraw .App-sidebar {
  background-color:white !important; /* Change toolbar/sidebar color */
}

.excalidraw button {
  color: #0D1117 !important;
}


